/* @import '../font/Avenir Next Condensed.ttc';
@import '../font/Avenir Next.ttc';
@import '../font/Avenir.ttc';
@import '../font/AvenirLTStd-Black.otf';
@import '../font/AvenirLTStd-Book.otf';
@import '../font/AvenirLTStd-Roman.otf';

@font-face {
  font-family: 'Avenir';
  src: url("../font/AvenirLTStd-Roman.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

:root {
/*   --primary: #00b050;
  --white: #ffffff;
  --gray10: #b3b3b3;
  --gray20: #737373;
  --gray30: #282828;
  --gray40: #181818;
  --gray50: #121212;
  --gray60: #000000;
  --headline1: 900 2rem/normal 'Avenir';
  --headline2: bold 1.5rem/1.75rem 'Avenir';
  --button: 500 0.875rem/1rem 'Avenir';
  --subtitle2: normal 0.75rem/normal 'Avenir';
  --smallfont: normal 0.65625rem/normal 'Avenir';
  --basefont-normal: normal 0.875rem/1.375rem 'Avenir';
  --basefont-bold: 900 0.875rem/1.375rem 'Avenir'; */
  --darkColor: #04001e; /* Colors to Body */
  --lirgtColor: #DFFBFF;  /* Color to letters */
  --primaryColor: #DB086F; /* Color to constranst */
}

body {
  background-color: var(--darkColor);
  color: var(--lirgtColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--lirgtColor);
}

.wrapper {
  max-inline-size: 64rem; /* Used to have a max of waith */
  /* border: 1px solid red;  This is used to mark the zone*/
  margin: auto; /* Center the zone in mid */
}

.box {
  border: 5px dashed var(--primaryColor);
  padding: 1rem;
  counter-increment: flex-items;
}

.box::after {
  content: counter(flex-items);
}
